<div class="page-header">
    <h1>Property Listings</h1>
</div>
<form method="post" >

	<input placeholder="Enter key words" class="form-control" name="search" type="text" value="<?=$search_text?>"/>
	<!--<button type="submit">Search</button><br>-->
	<p style="margin:0"><i style="font-size:12px">Total Results: <?=number_format($total_results)?></i></p>
	<p style="margin:0"><i style="font-size:12px">Page generated in: <?=$total_time?> seconds</i></p>

<ul class="pagination">
<?php for ($i=1; $i <= $total_page ; $i++): ?>
	<li style="display:inline;"><button  class="<?php if($i == $page_no) echo 'active';?>" type="submit" name="page_no" value="<?=$i?>"><?=$i?></button></li>
<?php endfor; ?>
</ul>
</form>
<table class="table table-hover">
<thead>
	<tr>
		<th>Email</th>
		<th>Name</th>
		<th>Mobile No </th>
		<th>Tel No </th>
		<th>Property Type</th>
		<th>List Type</th>
		<th>Price</th>
		<th>City</th>
		<th>Barangay</th>
		<th>Province</th>
		<th>Address</th>
		<th>Bedrooms</th>
		<th>Bathrooms</th>
		<th>Parking</th>
		<th>Land Area</th>
		<th>Floor Area</th>
		
		
	</tr>
</thead>
<tbody>
<?php foreach ($user_info as $value): ?>
	<tr>
		<td><?=$value->email?></td>
		<td><?=$value->fullname?></td>
		<td><?=$value->mobile?></td>
		<td><?=$value->phone?></td>
		<td><?=$value->property_type?></td>
		<td><?=$value->list_type?></td>
		<td><?=number_format($value->price).' PHP'?></td>
		<th><?=$value->city?></th>
		<th><?=$value->barangay?></th>
		<th><?=$value->province?></th>
		<th><?=$value->address?></th>
		<th><?=$value->bedrooms?></th>
		<th><?=$value->bathrooms?></th>
		<th><?=$value->parking?></th>
		<th><?=$value->land_area.' '.$value->land_area_unit?></th>
		<th><?=$value->floor_area.' '.$value->floor_area_unit?></th>
	</tr>
<?php endforeach;?>
</tbody>
</table>

<style type="text/css">
.active {
	background: #80CEB9;
}
</style>